body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 8px 100px;
}

h1 {
    font size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 36px;

    font-size: 18px;
    
    margin: 0;
    padding: 0;

}
.container-hero {
    display: flex;
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 40px 100px;   

    
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding-bottom: 16px;
    margin: 0px;
}
.hero-text {
    margin-bottom: 20px;
}
.hero-image {
    width: 400px;
    height: 320px;
    padding-left: 50px;
    border: none;
}

.hero-button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    padding: 6px 30px;
    border-radius: 8px;
    
}

.hero-button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

.info-title {
    text-align: center;
    margin-bottom: 0px;
}

.info-cards {
    display: flex;
    gap: 24px;
    text-align: center;
    font-weight: lighter;
    padding: 20px 200px;
    justify-content: center;
}

.container-quote {
    background-color: #e5e7eb;
    padding: 100px 200px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.attribution {
    text-align: right;
    font-weight: bold;
    font-style: normal;
    padding-top: 8px;
}


.blue-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    background-color: #3882f6;
    color: #e5e7eb;
    margin: 56px 100px;
    padding: 36px 80px;
    border-radius: 8px;

}
.action-header {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.footer-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-style: solid;
    border-color: #f9faf8;
    border-radius: 8px;
    padding: 6px 30px;
    flex-shrink: 0;

}
.footer-button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #f9faf8;
    font-weight: lighter;
    padding: 26px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}

img {
    height: 200px;
    width: 200px;
    border: solid #3882f6;
    border-radius: 12px;
}